@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global style to hide scrollbars across all browsers */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
